# MongoDB connection string
# Local example:
# MONGODB_URI=mongodb://127.0.0.1:27017/moviestream

# MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/moviestream?retryWrites=true&w=majority

MONGODB_URI=mongodb://127.0.0.1:27017/moviestream

PORT=3000