* {
	box-sizing: border-box;
	line-height: 24px;
}

body {
	background-color: 	rgb(19, 18, 18);
	color: #dbdada ;
	font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  	font-size: 20px;
}

i {
	display: inline-block;
	color: #DAA520;
}

a {
	text-decoration: none;
	color: #dbdada ;
}

article i {
	position: relative;
	left: -10px;
}

article h2{
	margin-left: 5px;
	display: inline-block;
}

#root {
	display: flex;
}

.header {
	display: inline-block;
    background-color: #28282B;
    padding: 15px 20px;
    float: right;
    border-radius: 0px 26px 0px 26px;
}
.menu {
      
}

.menu-icon {
	display: none;
	font-size: 26px;
}

.header__title {
	display: inline-block;
	padding-left: 50px;
}

.header__line {
	background-color:#DAA520 ;
	margin: 20px 20px 20px 120px;
	padding: 2px;
    width: 70px;
}

.nav__li {
	font-weight: bold;
	display: inline-block;
	padding: 2px;
	margin: 12px;
}

.nav__li:hover > a {
  color:  grey;
}

.tab.active {
  color: #DAA520;

}

.nav__li a {
	color: #dbdada;
	text-decoration: none;	
}


/*======================================Aside=======================*/


.aside {
	background-color: #1F2021;
	display: flex;
    flex-direction: column;
	width: 20%;
	height: 950px;
	margin: 100px 10px 0px 100px;
	padding: 30px;
	border-radius: 26px;
	text-align: center;
}

.name-container {
	
}

.memoji-container {
	background-color:#28282B;
	width: 60%;
	margin: 25px auto;
	border-radius: 16px;
}

.degree {
	background-color: #28282B;
	width: 57%;
	padding: 6px;
	margin: 12px auto;
	border-radius: 6px;
}

.aside-line{
	background-color: #28282B;
	padding: 2px;
	margin-bottom: 20px;
	border-radius: 26px;
}
.contact-container {
	height: auto;
}

.contact-item {
	display: flex;
	position: relative;
	padding: 20px;
	font-size: 18px;	
}

.contact-title {
	font-weight: bold;
	position: absolute;
  	top: 24px;
  	left: 87px;
}

.contact-info {
	flex: 1;
	position: absolute;
  	top: 50px;
  	left: 87px;
  	text-align: left;
}

.contact-image i{
	background-color: #28282B;;
	padding: 15px;
	border-radius: 6px;
}

.socialmedia-container {
	display: flex;
	justify-content: center; 
    margin-top: 10px;
}

.socialmedialogo {
	margin: 3px;
	padding: 5px;
}

.socialmedialogo i {
	color: grey;
	text-decoration: none;
}

/*======================================Main====================================*/


.main {
	width: 65%;
	margin: 100px 10px;
	background-color: #1F2021;
	border-radius: 26px;
}

.article {
	padding: 20px;
	margin:  0px 40px;
	background-color:
}

.titles-container {

}

.titles-item {
	align-items: stretch;
	position: relative;
	display: inline-flex;
	padding: 20px;
	background-color: #28282B;
	margin: 5px;
	border-radius: 26px;
	width: 48.7%;
	height: 140px;

}

.titles-title {
	flex: 1;
	position: absolute;
	left: 80px;
	font-weight: bold;
}

.titles-text {
	flex: 1;
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 10px;
	top: 20px;
	font-size: 18px;
}

.titles-image {
	flex: 0 1 auto;
	margin-right: 15px;
	padding: 5px;
}

.titles-image i{
	position: relative;
	top: 30px;
	left: 1px;
	font-size: 30px;
}

/*=============================Resume============================*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #28282B;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;

}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -8px;
  background-color: white;
  border: 4px solid #DAA520;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* The actual content */
.content {
	padding-left: 10px;
  	position: relative;
}

.content p{
	margin-top: -8px;

}

.content h5 {
	color: #DAA520;
}

.skills-container {
	background-color: #28282B;
	border-radius: 16px;
	padding: 26px;
	margin: 20px 0px;
}

.skills-items {

}

.skills-porc {
	border-radius: 26px;
	background-color: #1F2021 ;
	margin: 10px 0px;
}

.skills-porc-complete {
	border-radius: 26px;
	background-color: #DAA520 ;
	padding: 4px;
	margin: 10px 0px;
}


/*=============================Main===============================*/

.timeline-container {

}

/*=================================MIS PROYECTOS==============================================*/

/*=============================Main===============================*/

.filter-container {
	overflow: hidden;
}

.card {
 	box-shadow: 0 7px 11px 0 rgba(0,0,0,0.2);
 	border-radius: 16px;
 	transition: 0.3s;
	cursor: pointer; 
	width: 31.5%; 
	margin: 5px;
	background-color: #28282B; 
	padding-bottom: 10px;
	display: none;
}

.blog-card {
 	box-shadow: 0 7px 11px 0 rgba(0,0,0,0.2);
 	border-radius: 16px;
 	transition: 0.3s;
	cursor: pointer; 
	width: 31.5%; 
	margin: 5px;
	background-color: #28282B; 
	padding-bottom: 10px;
	display: inline-block;
}

.card.proyect {
	background-color: #28282B; 
	z-index: 3;
	width: 100%;

}

.show {	
  display: inline-block; 

}

.btn {
  border: none;
  outline: none;
  margin: 0px 5px 5px 6px;
  background-color: #1F2021;
  border-radius: 6px;
  cursor: pointer;
  color: #dbdada ;
  padding: 10px; 
}

.btn:hover {

background-color: #28282B; 

}

.btn.active {
  color: #DAA520;

}


.blog-card img {
	height: 200px;
	object-fit: cover;
	border-radius: 16px 16px 0px 0px;
	margin-bottom: 10px;
}

.blog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  scale: 97%;
}

.card img {
	height: 200px;
	object-fit: cover;
	border-radius: 16px 16px 0px 0px;
	margin-bottom: 10px;
}

.card p {
	color: grey;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  scale: 97%;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 26px;
}



/*=====================================Contactos========================*/ 

/*======================================main========================*/
.map {
	padding-bottom: 10px;
}

input[type=text], select, textarea {
  background-color: #28282B;
  color: white;

  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #1F2021; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #28282B;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

input[type=submit]:hover {
  background-color: #28282B;


}

option, select {
}

textarea {
	height: 150px;
	color: white;

}

.container {
  border-radius: 5px;
  padding: 20px;

}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*============================Mobile===========================*/

@media only screen and (max-width: 600px) {
  * {
  	margin: 0px;
  	padding: 0px;
  }

  body {
    background-color: #28282B;
  }


.article{
 	margin: 0px;
 }


.article.contact{
 	margin: 0px -10px;
 	padding: 0px;
 }


 .main { 
  	flex: 1;
  	margin: 0px 0px 0px 0px;
  	padding: 10px;
  	border-radius: 0px;
  }

.aside {
  	position: absolute;
  	left: -500px;
  }

.title {
	position: relative;
	left: -27px;
	top: -2px;
}

 .titles-item {
 	width: 100%;
 	height: auto;

 }

 .skills-container {
 	border-radius: 0px;
 	margin: 0px -30px;
 }

.BtnContainer{
}

.btn{
	display: block;
}


.card {
	width: 100%;
}

.blog-card {
	width: 100%;
}

.header {
	width: 110%;
	display: block;
	padding: 20px;
	border-radius: 0px;
	margin: -10px -10px;
	background-color: #28282B;
}

 .nav {
 	display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: #28282B;
    text-align: center;
  }

  .nav.responsive {
    display: block;
    z-index: 2;
  }

.nav__li {
	padding: 10px;
  	width: 100%;
    display: block;
  }


  .menu-icon {
  	cursor: pointer;
    display: inline-block;
    z-index: 1;
    float: right;
  }


 
}